
.rdrDay {
  height: 36px;
  width: 36px;
  font-size: 14px;
  color: #222;
}

.rdrDayNumber span {
  font-weight: normal;
}

.rdrDayStartEdge,
.rdrDayEndEdge {
  color: #fff;
}

.rdrSelected {
  background-color: #000 !important;
  color: #fff;
}

.rdrInRange {
  background-color: rgba(0, 0, 0, 0.1);
}

.rdrDisabled {
  opacity: 0.5;
}

.rdrDayNumber span {
  font-weight: normal;
}

